<section id="about" class="about-section section-padding">
    <div class="container">
        <div class="heading text-center">
            <h1 class="heading--title">About me</h1>
            <div class="heading--line"></div>
            <p class="heading--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor tenetur
                illum voluptate animi qui deleniti eaque dicta, aspernatur esse corrupti ducimus magni repudiandae
                laudantium consequuntur consectetur similique a, quae quo.</p>
        </div>
        <div class="row g-5 justify-content-between text-center">
            <div class="col-md-5">
                <h2 class="about-title">Get to know me!</h2>
                <p class="lead lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, consequuntur libero?
                    Dignissimos officia maxime nostrum perspiciatis dolores. Accusantium est libero, rem harum nulla
                    inventore optio quaerat error repudiandae numquam itaque quas voluptate ab perspiciatis dolores
                    beatae unde vitae officiis ipsa architecto earum quis! Eum magnam provident impedit
                    necessitatibus?
                    Eius, numquam?</p>
                <div class="d-grid justify-content-center">
                    <a href="#contact" class="btn btn-primary btn-lg px-5">Contact</a>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="about-title">My Skills</h2>
                <div class="skills">
                    <div class="skills--skill bg-body-secondary">Info</div>
                    <div class="skills--skill bg-body-secondary">Info</div>
                    <div class="skills--skill bg-body-secondary">Info</div>
                    <div class="skills--skill bg-body-secondary">Info</div>
                    <div class="skills--skill bg-body-secondary">Info</div>
                    <div class="skills--skill bg-body-secondary">Info</div>
                    <div class="skills--skill bg-body-secondary">Info</div>
                    <div class="skills--skill bg-body-secondary">Info</div>
                    <div class="skills--skill bg-body-secondary">Info</div>
                </div>
            </div>
        </div>
    </div>
</section>