<section id="projects" class="section-padding">
    <div class="container">
        <div class="heading text-center">
            <h1 class="heading--title">projects</h1>
            <div class="heading--line"></div>
            <p class="heading--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor tenetur
                illum voluptate animi qui deleniti eaque dicta, aspernatur esse corrupti ducimus magni repudiandae
                laudantium consequuntur consectetur similique a, quae quo.</p>
        </div>
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="../../assets/images/4646842.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                        <div class="tools">
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                        </div>
                    </div>
                    <div class="card-footer gap-5 d-flex justify-content-center">
                        <a href="#" class="btn btn-primary">Demo Link</a>
                        <a href="#" class="btn btn-primary">Code Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="../../assets/images/4646842.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                        <div class="tools">
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                        </div>
                    </div>
                    <div class="card-footer gap-5 d-flex justify-content-center">
                        <a href="#" class="btn btn-primary">Demo Link</a>
                        <a href="#" class="btn btn-primary">Code Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="../../assets/images/4646842.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                        <div class="tools">
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                            <div class="tools--tool rounded-pill bg-body-secondary">Info</div>
                        </div>
                    </div>
                    <div class="card-footer gap-5 d-flex justify-content-center">
                        <a href="#" class="btn btn-primary">Demo Link</a>
                        <a href="#" class="btn btn-primary">Code Link</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>