<section id="projects" class="section-padding">
    <div class="container">
        <div class="heading text-center">
            <h1 class="heading--title">projects</h1>
            <div class="heading--line"></div>
            <p class="heading--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor tenetur
                illum voluptate animi qui deleniti eaque dicta, aspernatur esse corrupti ducimus magni repudiandae
                laudantium consequuntur consectetur similique a, quae quo.</p>
        </div>
    </div>
</section>