.card {
    .card-img-top {
        aspect-ratio: 1/1;
    }

    .card-text {
        height: 7rem;
    }
}

.tools {
    display: flex;
    flex-wrap: wrap;
    gap: 0.65rem;

    &--tool {
        padding: 0.125rem 0.65rem;
        text-transform: capitalize;
    }
}