<section id="contact">
    <div class="container-fluid" style="max-height: 120rem; min-height: 80rem;">
        <div class="container py-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">HI, I'M ARRON HONG</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">A full stack engineer.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Projects</button>
                </div>
            </div>
        </div>
    </div>
</section>