@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.nav-link {
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.dropdown-item {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.menu {
    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}