<section id="home" class="home-section bg-gradient">
    <div class="container text-center home-content">
        <h1 class="display-3 fw-bold text-body-emphasis">Hey!, I'm Arron</h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead lh-lg my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, perspiciatis
                earum!
                Ipsam, dicta assumenda sequi facere amet non ut voluptas.</p>
            <div class="d-grid gap-4 d-sm-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-lg px-5">Resume</button>
                <a href="#projects" class="btn btn-primary btn-lg px-5">Projects</a>
            </div>
        </div>
    </div>
    <div class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
        <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
        </div>
    </div>
</section>